@charset "UTF-8";

/*Globals*/
.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
.redText{
  color: #B22222;
}

/*Startpage*/
body{
  background-color: #212121;
  cursor: 
}
h1{
  font-family: 'Alata',cursive;
  font-size: 2em;
  color: #ffffff;
}

/*Footer*/
footer{
  font-family: 'Roboto',cursive;
  color: #ffffff;
  bottom: 0px;
  position: fixed;
}
